@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body {
  background: #0c0c0c;
  background: linear-gradient(135deg, #80ffdb, #a600ff);
  background-size: 400% 100%;
  -webkit-animation: anim 45s ease infinite;
  -moz-animation: anim 45s ease infinite;
  -o-animation: anim 45s ease infinite;
  animation: anim 45s ease infinite;
  overflow: hidden;
  height: 116%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
	font-size: 14;
	color: white;
}
@-webkit-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
#main {
  position: relative;
  height: 260px;
  width: 280px;
  margin: -200px -140px;
  top: 50%;
  left: 50%;
  font-size: 38;
  text-align: center;
}
#error {
  height: 160px;
  font-size: 160;
}