@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
body {
  background: #0a0a0e;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  font-family: 'Muli', sans-serif;
  text-align: left;
	font-size: 20px;
	color: white;
}
a:link, a:visited, a:hover, a:active {
 color:#ffffff;
 text-decoration:none
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
@-webkit-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@-moz-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@-o-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
#main {
  position: relative;
  width: 1000px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin: -200px -500px;
}
#name {
  position: relative;
  font-size: 100px;
  width: 742px;
  left: 50%;
  margin: -0px -371px;
  background: linear-gradient(90deg, #80ffdb, #a600ff);
  background-size: 200% 100%;
  -webkit-animation: anim 20s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: anim 20s ease infinite;
  -o-animation: anim 20s ease infinite;
  animation: anim 20s ease infinite;
}
#features {
  position: relative;
  width: 600px;
  height: 150px;
  left: 50%;
  margin: -0px -300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}
#socials {
  position: relative;
  width: 400px;
  left: 50%;
  margin: -0px -200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec {
  padding: 3px;
  width: 60px;
  font-size: 30px;
}
#email {
  position: relative;
  top: -19px;
  height: 0px;
  margin: -13px 0px;
}
#email:hover {
  color: #a600ff;
}
#email #emailTip {
  visibility: hidden;
  width: 220px;
  height: 44px;
  background: #555;
  text-align: center;
  border-radius: 5px;
  padding: 3px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
  left: -83px;
  top: -48px;
  font-size: 16px;
}
#email #emailTip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
#email:hover #emailTip {
  visibility: visible;
  color: #FFFFFF;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s;
}
#email_val {
  visibility: hidden;
}
cp {
  color: #DDD;
}
i:hover {
  background: linear-gradient(90deg, #80ffdb, #a600ff);
  background-size: 200% 50%;
  -webkit-animation: anim 20s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: anim 5s ease infinite;
  -o-animation: anim 5s ease infinite;
  animation: anim 5s ease infinite;
  transition: .5s ease;
}

@media screen and (max-width: 750px) {
  body{
    width: 100%;
    height: 100%;
  }
  #main {
    position: relative;
    height: 450px;
    left: 0px;
    top: 50%;
    margin: -225px -0px;
    width: 100%;
  }
  #name {
    position: relative;
    font-size: 45px;
    width: 334px;
    left: 50%;
    margin: -0px -177px;
  }
  #features {
    position: relative;
    width: 152px;
    height: 150px;
    left: 50%;
    margin: -0px -82px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #sec {
    padding: 3px;
    width: 40px;
    font-size: 20px;
  }
  #socials {
    position: relative;
    width: 300px;
    left: 50%;
    margin: -0px -157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #email {
    position: relative;
    top: -9px;
    height: 0px;
    margin: -13px 0px;
  }
}
