@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
body {
  background: #0a0a0e;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  font-family: 'Muli', sans-serif;
  text-align: left;
	font-size: 20px;
	color: white;
}
a:link, a:visited, a:hover, a:active {
 color:#ffffff;
 text-decoration:none
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
@-webkit-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@-moz-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@-o-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
#main {
  position: relative;
  width: 1000px;
  height: 100%;
  left: 50%;
  margin: 0 -500px;
}
#menu_top {
  position: fixed;
  width: 100%;
  height: 65px;
  top: 50px;
  z-index: 1;
}
#logo {
  position: relative;
  left: 0;
  width: 372px;
  height: 65px;
  left: -100px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  font-size: 45px;
  background: linear-gradient(90deg, #80ffdb, #a600ff);
  background-size: 200% 100%;
  -webkit-animation: anim 20s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: anim 20s ease infinite;
  -o-animation: anim 20s ease infinite;
  animation: anim 20s ease infinite;
}
#right_section {
  position:relative;
  width: 200px;
  height: 42px;
  font-size: 30px;
  top: -51.25px;
  left: 900px;
  transition: .5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec {
  padding: 3px;
  width: 42px;
  font-size: 20px;
}
i:hover {
  background: linear-gradient(90deg, #80ffdb, #a600ff);
  background-size: 200% 50%;
  -webkit-animation: anim 20s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: anim 5s ease infinite;
  -o-animation: anim 5s ease infinite;
  animation: anim 5s ease infinite;
  transition: .5s ease;
}
cy {
  background: linear-gradient(135deg, #80ffdb, #a600ff);
  background-size: 200% 100%;
  -webkit-animation: anim 20s ease infinite;
  -moz-animation: anim 20s ease infinite;
  -o-animation: anim 20s ease infinite;
  animation: anim 20s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
txt {
  position: relative;
  top: 30%;
}
#about {
  position: relative;
  top: 360px;
  height: 450px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  text-align: center;
  filter: blur(0px);
  transition: .5s ease;
}
#projects {
  position: relative;
  top: 300px;
  height: 450px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  text-align: center;
  filter: blur(25px);
  transition: .5s ease;
}
#contact {
  position: relative;
  top: 300px;
  height: 675px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  text-align: center;
  filter: blur(25px);
  transition: .5s ease;
}
#arrows {
  position: fixed;
  top: 50%;
  left: 100%;
  height: 20px;
  margin: -30px -40px;
}
#down_arrow {
  position: relative;
  margin: -10px 0px;
}
#languages {
  position: relative;
  height: 60px;
  width: 650px;
  top: 150px;
  left: 50%;
  margin: 0px -325px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#lang {
  position: relative;
  font-size: 70px;
  height: 60px;
  width: 60px;
}
#lang_sml {
  position: relative;
  top: 8px;
  font-size: 59px;
  height: 60px;
  width: 60px;
}
#footer {
  position: relative;
  width: 100%;
  text-align: center;
  top: 925px;
}
