@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
  background: #0a0a0e;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: 'Muli', sans-serif;
  text-align: left;
	font-size: 20px;
	color: white;
}
a:link, a:visited, a:hover, a:active {
 color:#fff;
 text-decoration:none
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
@-webkit-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@-moz-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@-o-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
#home {
  position: relative;
  font-size: 16px;
  top: 38px;
  left: 18px;
}
i {
  color: #404060;
  transition: 0.5s ease;
}
i:hover {
  color: #a600ff;
  transition: 0.5s ease;
}
#main {
  position: relative;
  height: 100%;
  width: 94%;
  top: -30px;
  left: 75px;
  margin: -4px;
}
#seperator {
  position: fixed;
  z-index: -1;
  width: 2px;
  top: -10%;
  height: 110%;
  left: 62px;
  //background: linear-gradient(0deg, #80ffdb, #a600ff);
  background-color: #404060;
}
#steffan {
  width: 380px;
  font-size: 80;
  background: linear-gradient(135deg, #80ffdb, #a600ff);
  background-size: 400% 100%;
  -webkit-animation: anim 20s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: anim 20s ease infinite;
  -o-animation: anim 20s ease infinite;
  animation: anim 20s ease infinite;
}
num {
  position: relative;
  left: -25px;
  top: 1px;
  color: #404060;
}
.os_info{
  height: 272px;
  position: relative;
  left: -25px;
}
cl {
  color: #a600ff;
}
cy {
  background: linear-gradient(135deg, #80ffdb, #a600ff);
  background-size: 200% 100%;
  -webkit-animation: anim 20s ease infinite;
  -moz-animation: anim 20s ease infinite;
  -o-animation: anim 20s ease infinite;
  animation: anim 20s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
gr {
  color: #666666;
}
#pos {
  position: relative;
  top: -50px;
}
#uptime {
  position: relative;
  height: 25px;
  top: -24px;
  left: 100px;
}
#terminal {
  position: relative;
  left: -24px;
}
dots {
  color: #333333;
  letter-spacing: 10px;
}
red {
  color: #FF5555;
}
input[type=text] {
  position: relative;
  left: -1px;
  border: none;
  border-radius: 0px;
  width: 50%;
  height: 22px;
  margin: 0px 0px;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-align: left;
  color: WHITE;
  background-color: transparent;
}
#social {
  position: relative;
  top:4px;
  width: 23px;
  height: 23px;
}
social_dot {
  position: relative;
  color: #333333;
  left: 5px;
  letter-spacing: 10px;
}

/* Emails */
#email1 {
  position: relative;
  line-height: 0px;
  height: 0px;
  left: 177px;
  margin: -13 0;
}
#email1:hover {
  color: #a600ff;
  transition: opacity 0.3s;
}
#email1 #emailTip1 {
  visibility: hidden;
  width: 140px;
  height: 2px;
  background: linear-gradient(135deg, #80ffdb, #a600ff);
  background-size: 200% 100%;
  -webkit-animation: anim 20s ease infinite;
  -moz-animation: anim 20s ease infinite;
  -o-animation: anim 20s ease infinite;
  animation: anim 20s ease infinite;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
  left: 30px;
  top: -37px;
  font-size: 16px;
}
#email1 #emailTip1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
#email1:hover #emailTip1 {
  visibility: visible;
  color: #FFFFFF;
  font-weight: bold;
  opacity: 1;
}

#email2 {
  position: relative;
  line-height: 0px;
  height: 0px;
  left: 230px;
  margin: -12 0;
}
#email2:hover {
  color: #a600ff;
  transition: opacity 0.3s;
}
#email2 #emailTip2 {
  visibility: hidden;
  width: 140px;
  height: 2px;
  background: linear-gradient(135deg, #80ffdb, #a600ff);
  background-size: 200% 100%;
  -webkit-animation: anim 20s ease infinite;
  -moz-animation: anim 20s ease infinite;
  -o-animation: anim 20s ease infinite;
  animation: anim 20s ease infinite;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
  left: 53px;
  top: -37px;
  font-size: 16px;
}
#email2 #emailTip2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
#email2:hover #emailTip2 {
  visibility: visible;
  color: #FFFFFF;
  font-weight: bold;
  opacity: 1;
}
