@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
body {
  background: #0a0a0e;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: 'Muli', sans-serif;
  text-align: left;
	font-size: 20px;
	color: white;
}
a:link, a:visited, a:hover, a:active {
 color:#ffffff;
 text-decoration:none
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
@-webkit-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@-moz-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@-o-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
#main {
  position: relative;
  width: 1000px;
  height: 100%;
  left: 50%;
  margin: 0 -500px;
}
#menu_top {
  position: relative;
  height: 65px;
  top: 50px;
}
#logo {
  position: relative;
  width: 372px;
  height: 65px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  font-size: 45px;
  background: linear-gradient(90deg, #80ffdb, #a600ff);
  background-size: 200% 100%;
  -webkit-animation: anim 20s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: anim 20s ease infinite;
  -o-animation: anim 20s ease infinite;
  animation: anim 20s ease infinite;
}
#right_section {
  position:relative;
  height: 42px;
  font-size: 30px;
  top: -51.25px;
  float: right;
  transition: .5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec {
  padding: 3px;
  width: 42px;
  font-size: 20px;
}
i:hover {
  background: linear-gradient(90deg, #80ffdb, #a600ff);
  background-size: 200% 50%;
  -webkit-animation: anim 20s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: anim 5s ease infinite;
  -o-animation: anim 5s ease infinite;
  animation: anim 5s ease infinite;
  transition: .5s ease;
}
#about {
  position: relative;
  margin: 50px 0px;
  top: 400px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  text-align: center;
}
cy {
  background: linear-gradient(135deg, #80ffdb, #a600ff);
  background-size: 200% 100%;
  -webkit-animation: anim 20s ease infinite;
  -moz-animation: anim 20s ease infinite;
  -o-animation: anim 20s ease infinite;
  animation: anim 20s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#svg_github:hover {
  filter: invert(17%) sepia(93%) saturate(3429%) hue-rotate(272deg) brightness(96%) contrast(141%);
}
