@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
body {
  position: relative;
  background: #0a0a0e;
  height: 100%;
  width: 100%;
  font-family: 'Merriweather', serif;
  text-align: left;
	font-size: 20px;
	color: #3E3D3F;
}
#main {
  position: relative;
  height: 2000px;
  width: 1180px;
  left: 50%;
  margin: -8px -600px;
  background: white;
}
#margin {
  position: relative;
  width: 90%;
  left: 5%;
}
h1 {
  position: relative;
  top: 7px;
  font-size: 24px;
}
#title {
  position: relative;
  width: 100%;
  height: 150px;
}
#name {
  position: relative;
  font-size: 28px;
  font-weight: bold;
  width: 324px;
  top: 50px;
  left: 50%;
  margin: -0px -162px;
}
#title_icons1 {
  position: relative;
  left: 50%;
  width: 645px;
  height: 28px;
  margin: 60px -322.5px;
}
#location {
  position: relative;
  font-size: 16px;
}
#i_location {
  position: relative;
  top: 1px;
  font-size: 22px;
}
#email {
  position: relative;
  font-size: 16px;
  top: -21px;
  left: 250px;
}
#i_email {
  position: relative;
  top: 1px;
  font-size: 20px;
}
#phone {
  position: relative;
  font-size: 16px;
  top: -47px;
  left: 493px;
}
#i_phone {
  position: relative;
  top: 4px;
  font-size: 24px;
}
#title_icons2 {
  position: relative;
  left: 50%;
  width: 396px;
  height: 28px;
  margin: -65px -198px;
}
#linkedin {
  position: relative;
  font-size: 16px;
}
#i_linkedin {
  position: relative;
  top: 2px;
  font-size: 22px;
}
#website {
  position: relative;
  font-size: 16px;
  top: -23px;
  left: 186px;
}
#i_website {
  position: relative;
  top: 1px;
  font-size: 22px;
}
#seperator {
  position: relative;
  height: 40px;
  width: 100%%;
}
#fill {
  position: relative;
  background: #3E3D3F;
  height: 2px;
  width: 100%;
  top: 49%;
}
#summary {
  position: relative;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
  height: 115px;
  top: -25px;
}
#skills {
  position: relative;
  top: -25px;
  height: 245px;
}
#bullets {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  left: 60px;
}
#bullets2 {
  position: relative;
  font-size: 18px;
  line-height: 16px;
  left: 75px;
}
point {
  position: relative;
  font-weight: bold;
  left: -25px;
  top: 5px;
  font-size: 28px;
}
point2 {
  position: relative;
  font-weight: bold;
  left: -26px;
  top: -2px;
  line-height: 22px;
}
#education {
  position: relative;
  top: -25px;
}
uni_date {
  position: relative;
  font-size: 20px;
  font-weight: bold;
}
uni_course {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  left: 70px;
}
uni_name {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  left: 140px;
}
#uni_rel {
  line-height: 44px;
  font-size: 18px;
}
#uni_note {
  position: relative;
  top: 10px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 18px;
}
