<html>
  <head>
    <title><steffan/></title>
    <link rel="icon" href="{{url_for("static", filename="favicon.png")}}">
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/style_cli.css")}}">
    <script type="text/javascript" src="{{url_for("static", filename="js/jquery-3.4.1.min.js")}}"></script>
  </head>
  <body>
    <div id="main" class="noselect">
      <div id="seperator"></div>
      <div id="steffan">&lt;steffan/&gt;</div>
      <div class="os_info">
        <num>01</num><cl>root</cl>@steffanjones.dev<br>
        <num>02</num><cl>-----------------------------------</cl><br>
        <num>03</num><cl>OS:</cl> Ubuntu 18.04.3 LTS<br>
        <num>04</num><cl>Kernel:</cl> 4.14.12-49-generic<br>
        <num>05</num><cl>Uptime:</cl> <div id="uptime"></div><br>
        <div id="pos">
          <num>06</num><cl>Packages:</cl> <wt>524</wt><br>
          <num>06</num><cl>Shell:</cl> <wt>bash 4.4.18</wt><br>
          <num>07</num><cl>CPU:</cl> Intel Xeon Gold 6140 @ 2.294GHz<br>
          <num>08</num><cl>GPU:</cl> Red Hat, Inc. QXL paravirtual graphic card<br>
          <num>09</num><cl>Memory:</cl> 986MiB<br>
          <num>10</num><br>
        </div>
      </div>
      <script type="text/javascript" src="{{url_for("static", filename="js/uptime.js")}}"></script>
      <div id="terminal">
        <num>11</num><cl>root</cl>@steffanjones.dev <gr>/var/www/steffanjones.dev </gr><cl>~$ </cl>dmesg | grep -i intro<br>
        <num>12</num><dots>····</dots><br>
        <num>13</num><dots>····</dots>[5.500720] <red>intro</red>;<br>
        <num>14</num><dots>····</dots><br>
        <num>15</num><dots>····</dots>Hello! My name is <cy>Steffan Jones</cy><br>
        <num>16</num><dots>····</dots>I'm currently studying Computer Science at the University of Liverpool,<br>
        <num>17</num><dots>····</dots>I'll be looking for work after I graduate for late 2019.<br>
        <num>18</num><dots>····</dots><br>
        <num>19</num><cl>root</cl>@steffanjones.dev <gr>/var/www/steffanjones.dev </gr><cl>~$ </cl>commands<br>
        <num>20</num><dots>····</dots><br>
        <num>21</num><dots>····</dots><cy>List of commands:</cy><br>
        <num>22</num><dots>······</dots><b>about</b><br>
        <num>23</num><dots>······</dots><b>projects</b><br>
        <num>24</num><dots>······</dots><b>socials</b><br>
        <num>25</num><dots>······</dots><b>commands</b><br>
        <num>26</num><dots>······</dots><b>clear</b><br>
        <num>27</num><dots>······</dots><b>help</b><br>
        <num>28</num><dots>····</dots><br>
        <num>29</num><cl>root</cl>@steffanjones.dev <gr>/var/www/steffanjones.dev </gr><cl>~$ </cl><input type="text" placeholder="" id="terminal_input" value="">
      </div>
      <script type="text/javascript" src="{{url_for("static", filename="js/terminal.js")}}"></script>
    </div>
  </body>
</html>
