<html>
  <head>
    <title>&lt;steffan jones/&gt; CV</title>
    <base href="https://steffanjones.dev/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{{url_for("static", filename="favicon.png")}}">
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/style_cv.css")}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
  </head>
  <body>
    <div id="main">
      <div id="title">
        <div id="name">Steffan Drosinos Jones</div>
        <div id="title_icons1">
          <div id="location"><i class="fa fa-map-marker fa-2x" aria-hidden="true" id="i_location"></i> Liverpool, United Kingdom</div>
          <div id="email"><i class="fa fa-envelope fa-2x" aria-hidden="true" id="i_email"></i> steffan@steffanjones.dev</div>
          <div id="phone"><i class="fa fa-mobile fa-2x" aria-hidden="true" id="i_phone"></i> +44 7469782644</div>
        </div>
        <div id="title_icons2">
          <div id="linkedin"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" id="i_linkedin"></i> in/steffandrosinos</div>
          <div id="website"><i class="fa fa-user fa-2x" aria-hidden="true" id="i_website"></i> https://steffanjones.dev</div>
        </div>
      </div>
      <div id="seperator"><div id="fill"></div></div>
    </div>
  </body>
</html>
