<html>
  <head>
    <title>&lt;steffan jones/&gt; CV</title>
    <base href="https://steffanjones.dev/">
    <meta name="viewport" content="width=1180px">
    <link rel="icon" href="{{url_for("static", filename="favicon.png")}}">
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/style_cv.css")}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
  </head>
  <body>
    <div id="main">
      <div id="margin">
        <div id="title">
          <div id="name">Steffan Drosinos Jones</div>
          <div id="title_icons1">
            <div id="location"><i class="fa fa-map-marker fa-2x" aria-hidden="true" id="i_location"></i> Liverpool, United Kingdom</div>
            <div id="email"><i class="fa fa-envelope fa-2x" aria-hidden="true" id="i_email"></i> steffan@steffanjones.dev</div>
            <div id="phone"><i class="fa fa-mobile fa-2x" aria-hidden="true" id="i_phone"></i> +44 7469782644</div>
          </div>
          <div id="title_icons2">
            <div id="linkedin"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" id="i_linkedin"></i> in/steffandrosinos</div>
            <div id="website"><i class="fa fa-user fa-2x" aria-hidden="true" id="i_website"></i> https://steffanjones.dev</div>
          </div>
        </div>
        <div id="seperator"><div id="fill"></div></div>
        <div id="summary">
          <h1>SUMMARY</h1>
          <div>I’m currently a Computer Science student at the University of Liverpool in my third and final year looking for work placement in the &lt;any specific&gt; field. My current skills mainly involve programming and problem solving. I’m a fast learning, self-motivated individual with strong communication skills.  My current professional goal is to secure an entry level role in a well-respected company.</div>
        </div>
        <div id="seperator"><div id="fill"></div></div>
        <div id="skills">
          <h1>SKILLS</h1>
          <div id="bullets">
            <point>•</point>Good knowledge of Java and Python 3<br>
            <point>•</point>Good problem solving skills<br>
            <point>•</point>Beginner/intermediate knowledge of C, C++, C# and Haskell<br>
            <point>•</point>Front end: HTML, CSS and JavaScript<br>
            <point>•</point>Back end:<br>
            <div id="bullets2">
              <point2>○</point2>Experience with Linux (mainly Ubuntu)<br>
              <point2>○</point2>Experience with Apache and some experience with Nginx<br>
              <point2>○</point2>Experience with Flask<br>
            </div>
            <point>•</point>Languages: English, Welsh<br>
            <point>•</point>Full UK drivers’ licence<br>
          </div>
        </div>
        <div id="seperator"><div id="fill"></div></div>
        <div id="education">
          <h1>EDUCATION</h1>
          <div id="university">
            <uni_date>2017– current</uni_date><uni_course>BSc. (Hons) Computer Science</uni_course><uni_name>University of Liverpool</uni_name><br>
            <div id="uni_rel">Relevant Modules:</div>
            <div id="bullets">
              <point>•</point>Principles of C & Memory Management<br>
              <point>•</point>Object-Oriented Programming (Java)<br>
              <point>•</point>Advanced Object-Oriented C Languages (C++/C#)<br>
              <point>•</point>Computer Networks<br>
              <point>•</point>Cyber Security<br>
              <point>•</point>Intro to Artificial Intelligence<br>
              <point>•</point>Advanced Artificial Intelligence<br>
              <point>•</point>Foundations of Computer Science<br>
              <point>•</point>Data Structures and Algorithms<br>
              <point>•</point>Programming Language Paradigms<br>
            </div>
            <div id="uni_note">I’m currently in my third and final year studying Robotics & Autonomous Systems, Intro to Computational Game Theory, Game Theory and Mechanism Design, Computer Vision, Data Mining and Visualisation as well as doing my final year honours project.</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
