<html>
  <head>
    <title>&lt;steffan jones/&gt;</title>
    <link rel="icon" href="{{url_for("static", filename="favicon.png")}}">
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/style_index.css")}}">
    <script type="text/javascript" src="{{url_for("static", filename="js/jquery-3.4.1.min.js")}}"></script>
  </head>
  <body>
    <div id="main" class="noselect">
      <div id="menu_top">
        <div id="logo">&lt;steffan jones/&gt;</div>
        <div id="right_section"><a href="https://cli.steffanjones.dev">cli</a></div>
      </div>
      <div id="about">
        Hello! My name is <cy>Steffan Jones</cy>. I'm currently studying Computer Science at the <cy><a href='https://www.liverpool.ac.uk/study/undergraduate/courses/computer-science-bsc-hons/overview/' target='_blank'>University of Liverpool</a></cy>.
      </div>
    </div>
  </body>
</html>
