<html>
  <head>
    <title>&lt;steffan jones/&gt; Portfolio</title>
    <base href="https://steffanjones.dev/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{{url_for("static", filename="favicon.png")}}">
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/style_index.css")}}">
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/style_languages.css")}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
    <script type="text/javascript" src="{{url_for("static", filename="js/jquery-3.4.1.min.js")}}"></script>
    <script type="text/javascript" src="{{url_for("static", filename="js/scrolling.js")}}"></script>
    <script type="text/javascript" src="{{url_for("static", filename="js/languages.js")}}"></script>
  </body>
  </head>
  <body>
    <div id="main" class="noselect">
      <div id="menu_top">
        <div id="logo">&lt;steffan jones/&gt;</div>
        <div id="right_section">
          <div id="sec"><a href="https://cli.steffanjones.dev"><i class="fa fa-terminal fa-2x" aria-hidden="true"></i></a></div>
          <div id="sec"><a href="https://github.com/steffandrosinos" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></div>
          <div id="sec"><a href="https://www.linkedin.com/in/steffandrosinos/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></div>
          <div id="sec"><a href="https://www.twitter.com/steffandrosinos" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></div>
        </div>
      </div>
      <div id="about">
        <txt>
          Hello! My name is <cy>Steffan Jones</cy>. I'm currently studying Computer Science at the <cy><a href='https://www.liverpool.ac.uk/study/undergraduate/courses/computer-science-bsc-hons/overview/' target='_blank'>University of Liverpool</a></cy>.
        </txt>
      </div>
      <div id="projects">
        <txt>These are a few of my projects. Most of these are quite small.</txt><br>
      </div>
      <div id="projects_lang">
        <txt>Projects by programming language.</txt><br>
        <div id="languages">
          <div id="lang"><a href="https://github.com/steffandrosinos/Breaking-Caesar" target="_blank"><i id="logo_java" class="devicon-java-plain"></i></a></div>
          <div id="lang"><i id="logo_python" class="mdi mdi-language-python"></i></a></div>
          <div id="lang_sml"><a href="https://github.com/steffandrosinos/steffanjones.dev" target="_blank"><i id="logo_js" class="devicon-javascript-plain"></i></a></div>
          <div id="lang_sml"><a href="https://github.com/steffandrosinos/steffanjones.dev" target="_blank"><i id="logo_html" class="devicon-html5-plain"></i></a></div>
          <div id="lang_sml"><a href="https://github.com/steffandrosinos/steffanjones.dev" target="_blank"><i id="logo_css" class="devicon-css3-plain"></i></a></div>
          <div id="lang_sml"><a href="https://github.com/steffandrosinos/GameOfLife/blob/master/GameOfLife.c" target="_blank"><i id="logo_c" class="devicon-c-plain"></i></a></div>
          <div id="lang_sml"><a href="https://github.com/steffandrosinos/Learning-CPP" target="_blank"><i id="logo_cpp" class="devicon-cplusplus-plain"></i></a></div>
          <div id="lang"><a href="https://github.com/steffandrosinos/Learning-Haskell" target="_blank"><i id="logo_haskell" class="mdi mdi-language-haskell"></i></a></div>
        </div>
        <div id="languages_hover">
          <div id="lang_java">Java</div>
          <div id="lang_python">Python</div>
          <div id="lang_js">JavaScript</div>
          <div id="lang_html">HTML</div>
          <div id="lang_css">CSS</div>
          <div id="lang_c">C</div>
          <div id="lang_cpp">C++</div>
          <div id="lang_haskell">Haskell</div>

        </div>
      </div>
      <div id="contact">
        <txt>
          Here are a few of my contacts.
        </txt>
      </div>
    </div>
    <div id="footer">
      Made by Steffan Jones.
    </div>
    <div id="arrows">
      <div id="up_arrow">
        <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
      </div>
      <div id="down_arrow">
        <i class="fa fa-angle-down fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  </body>
</html>
