<html>
  <head>
    <title>&lt;steffan jones/&gt; Portfolio</title>
    <base href="https://steffanjones.dev/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{{url_for("static", filename="favicon.png")}}">
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/style_index.css")}}">
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/style_languages.css")}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
    <script type="text/javascript" src="{{url_for("static", filename="js/jquery-3.4.1.min.js")}}"></script>
    <script type="text/javascript" src="{{url_for("static", filename="js/scaling.js")}}"></script>
    <!--<script type="text/javascript" src="{{url_for("static", filename="js/features.js")}}"></script>-->
    <script type="text/javascript" src="{{url_for("static", filename="js/email.js")}}"></script>
  </body>
  </head>
  <body>
    <div id="main" class="noselect">
      <div id="name">&lt;steffan jones/&gt;</title></div>
      <div id="features">
        <div id="feat">About</div>
        <div id="feat">Projects</div>
        <div id="feat">Languages</div>
      </div>
      <div id="socials">
        <div id="sec"><a href="https://github.com/steffandrosinos" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></div>
        <div id="sec"><a href="https://www.linkedin.com/in/steffandrosinos/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></div>
        <div id="sec"><a href="https://www.twitter.com/steffandrosinos" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></div>
        <div id="sec"><div id='email'><i class="fa fa-envelope fa-2x" aria-hidden="true"></i><span id='emailTip'></span><div id="email_val">steffan@steffanjones.dev</div></div></div>
        <div id="sec"><a href="https://cli.steffanjones.dev"><i class="fa fa-terminal fa-2x" aria-hidden="true"></i></a></div>
      </div>
    </div>
  </body>
</html>
